.section-signup {
  display: flex;
  flex-direction: row;
  flex: 1 1;
}

.section-signup__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
}

.section-right__form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.section-right__form p {
  color: var(--color-gray-400);
  font-weight: var(--weight-normal);
}

.section-right__form p a {
  color: var(--color-primary);
  font-weight: var(--weight-medium);
}

.section-right__form .form-subtitle {
  color: var(--color-gray-400);
  width: 100%;
  text-align: start;
  font-weight: var(--weight-light);
}

.section-right__form .form-header {
  display: flex;
  align-items: center;
}

.section-right__form .form-header img {
  width: 63px;
  height: 63px;
}

.section-right__form .form-header h1 {
  font-size: var(--font-xl);
  font-weight: var(--weight-medium);
}

.section-right__form .form-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-right__form .form-body p {
  text-align: end;
  font-size: var(--font-sm);
}

.section-right__form .form-body .form-input {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
}

.section-right__form .form-body input {
  width: 20rem;
}

.section-signup__left {
  flex: 1;
  background-color: var(--color-primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container--left {
  max-width: 500px;
  color: var(--color-secondary);
  text-align: center;
  padding: 0 0.5rem;
}

.container--left img {
  width: 100%;
}

.container--left p {
  color: var(--color-gray-800);
  font-size: var(--font-sm);
}

