<div class="section-forget">
  <div class="section-forget__right">
    <div class="section-right__form">
      <div class="form-header">
        <img src="/assets/logo.png"/>
        <h1>ExchangeApp</h1>
      </div>
      <div class="form-subtitle">
        <p>Recupera tu contraseña</p>
      </div>
      <div class="form-body">
        <div class="form-input">
          <label>Correo</label>
          <input [(ngModel)]="email" type="text" placeholder="Ingresa tu correo">
        </div>
        <p *ngIf="error!=''" style="color:darkred">{{ error }}</p>
        <p *ngIf="message!=''" style="color:var(--color-gray-400)">{{ message }}</p>
        <button class="btn btn-primary" (click)="sendForgetPassword()">Enviar email</button>
      </div>
      <p>Regresar al <a routerLink="/ingresar">Ingresar</a></p>
    </div>
  </div>
  <div class="section-forget__left">
    <div class="container--left">
      <img src="/assets/forget-password.png"/>
      <div>
        <h2>Tu aliado en el intercambio de divisas</h2>
        <p>Gestiona tus divisas de manera rápida y eficiente, con acceso a tasas de cambio actualizadas en tiempo real y
          soporte para múltiples monedas</p>
      </div>
    </div>
  </div>
</div>
